@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;

}
#logo{
    width: 20vw;
}
h1{
    color: white;
    font-family: "PT Serif", serif;

}
#name{
    color: rgb(244, 16, 175);
    font-size: 50px;
}
#va{
    color: aqua;
    font-size: 45px;
}
#voice{
    height: 150px;
    display: none;
}
#btn{
    width: 30%;
    background: linear-gradient(to right,rgb(10, 222, 233), rgb(223, 12, 212) );
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    box-shadow: 2px 2px 10px rgb(10, 222, 233),2px 2px 10px rgb(223, 12, 212);
    border: none;
    transition: all 0.5s;
    cursor:pointer;

}
#btn:hover{
    box-shadow: 2px 2px 20px rgb(10, 222, 233),2px 2px 20px rgb(223, 12, 212);
    letter-spacing: 2px;

}